In [1]:
import data_generator as data

In [ ]:
# generate data
res = data.DataGenerator(
    n = 100,
    bad_ratio = 0.7,
    k_con = 2,
    k_bin = 0,
    con_nonlinear = 0,
    con_mean_bad_dif = [2, 1],
    con_var_bad_dif = 0.5,
    covars = [[1, 0.2, 0.2, 1], [1, -0.2, -0.2, 1]],
    seed = 77,
    verbose = True
)
res.generate()
res.data

Generating 2 continuous features with 0 binary features
Simulating (100 x 2) data set
Generating binary features...

          X1        X2   BAD  B1
0  -0.021949 -0.721998   BAD   1
1  -1.124645 -3.160187   BAD   1
2  -0.400465 -0.528642   BAD   1
3  -0.399395  1.020921   BAD   1
4   2.040217  0.825725   BAD   1
..       ...       ...   ...  ..
95  2.528803  0.213066  GOOD   1
96  1.457758  1.638516  GOOD   1
97  1.059967  1.462634  GOOD   1
98  2.454115  0.830107  GOOD   1
99  0.484280  1.722904  GOOD   1

[100 rows x 4 columns]